<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{286.0,786.0}</string>
        <key>name</key>
        <string>game_ui</string>
        <key>textureFileName</key>
        <string>game_ui.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>bg0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{100.0,100.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{100.0,100.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{100.0,100.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,504.0},{100.0,100.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btnCancel.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{168.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{168.0,74.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{168.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,708.0},{168.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btnYes.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{168.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{168.0,74.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{168.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{104.0,504.0},{168.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btn_Play.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{150.0,60.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,60.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{150.0,60.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{104.0,580.0},{150.0,60.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>buttonHide.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{50.0,50.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,326.0},{50.0,50.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>gem.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{50.0,44.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{59.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,2.0},{50.0,44.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,430.0},{50.0,44.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>holdBackGround.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{50.0,50.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,274.0},{50.0,50.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>iconCyan.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{50.0,50.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{104.0,642.0},{50.0,50.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>iconRed.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{50.0,50.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{156.0,642.0},{50.0,50.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>iconYellow.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{50.0,50.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,378.0},{50.0,50.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,274.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>tile0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{270.0,270.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{270.0,270.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{270.0,270.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{270.0,270.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>timeBar0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{100.0,100.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{100.0,100.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{100.0,100.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,606.0},{100.0,100.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
